@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
}

button {
  border: none;
  background: cornflowerblue;
  padding: 1rem;
  color: white;
  cursor: pointer;
  width: 8rem;
  margin: 2rem;
}

.form_element,
th,
td {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}

#results {
  width: 100%;
}

#results > table {
  width: 100%;
}

th {
  text-align: start;
}

.row,
tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  justify-content: space-evenly;
}

.table-data-row {
  font-family: monospace;
}
